name: CI

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 2
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd #v5.0.1
    - name: Download Custom JDK
      run: |
        wget https://download.java.net/java/GA/jdk25/bd75d5f9689641da8e1daabeccb5528b/36/GPL/openjdk-25_linux-x64_bin.tar.gz
    - name: Set up JDK
      uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 #v5.0.0
      with:
        java-version: '25'
        distribution: 'jdkfile'
        jdkFile: openjdk-25_linux-x64_bin.tar.gz
    - name: Build
      run: ./mvnw --no-transfer-progress -B clean verify --file pom.xml
